@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    
</script>

<div class="choose-area pt-60" style="background-color:#FFBF0B">
    <div class="container-cosapino">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="headline">
                    <h2>REGISTRA / ACTUALIZA TUS DATOS</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="choose-area pt-30">
    <div class="container-cosapino">
        <div class="row">
            <div class="col-md-12 col-sm-12" style="padding-top:5px;padding-bottom: 10px;">
                <span style="color:#009ED3; font-weight:bold;">
                    ¿Porqué trabajar en Cosapi?
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                Cosapi no sólo te ofrece una oportunidad laboral, aquí te integrarás a una empresa sólida con profundos y arraigados valores institucionales, donde propiciamos y apoyamos tu realización y desarrollo personal así como tu carrera laboral.
            </div>
        </div>        
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="faq-gallery">
                    <div class="panel-group" id="accordion">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
